<p>To post a construction materials or tool listing, please sign up first.</p>
<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
    <% if @user.errors.any? %>
      <div class='alert alert-danger'>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

<!-- The user registration form form below: -->

    <%= form_for(@user) do |f| %>
      <div class='form-group'>
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

<!-- Email marketing checkbox code below: -->

<p></p>
<input type="checkbox" name="marketing_subscription" /> Yes! I would like to receive the Get This, Make That newsletter.
<p></p>

<!-- Registration submit button: -->

      <div>
        <%= f.submit 'Sign Up', class: 'btn btn-success' %>
      </div>
  <% end %>
  </div>
</div>

